:root{
--primary-color: #0084FD;
--light-blue: #B5DDFF;
--violet: #9792E4;
--footer-color: #333333;
}
/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
/* COMMON */
body{
    font-family: 'PT Sans', sans-serif;
}
h3{
    color: var(--primary-color);
    padding: 10px;
}
p{
    padding: 10px;
    line-height: 1.8rem;
}
.card {
    padding: 20px;
}
button{
    border-style: none;
}
/* HEADER */
.header{
   
    height: 60px;
    line-height: 60px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
}
.header .nav-bar{
    display: none;
}
.logo img{
    padding: 10px;
    vertical-align: middle;
}
@media screen and (min-width: 992px) {
    .hamburger{
        display: none;
    }
    .header .nav-bar{
        display: inline-block;
        
    }
    .header ul{
        display: flex;
        gap: 15px;
        list-style-type: none;
        
    }
    .header a{
        text-decoration: none;
        color: white;
        
    }
    
    .header-button{
        background-color: white;
        padding: 10px;
        border-radius: 20px;
        color: var(--primary-color);
       
    }
    .header-button a{
        color: #0084FD;
    }
}

/* JUMBOTRON */
.jumbo{
    
    padding: 20px;
    text-align: center;
}
.card{
    height: 100%;
    background-color: var(--light-blue);
    border-radius: 10px;
}
.big-col{
    text-align: left;
}
.col{
    padding: 10px;
}
.big-col .card{
    padding-bottom: 0;
}
.big-col p{
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}
.big-col-btn{
    text-align: left;
    background-color: #0084FD;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
}
.big-col-btn a {
    text-decoration: none;
    color: white;

}
.big-col-btn i{
    
    padding-right: 10px
}
.big-col-img{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}
.card-obj{
    font-size: 5rem;
    color: var(--primary-color);
}

@media screen and (min-width: 768px){
    .row{
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .col{
        width: calc(100% / 3 );
        
        padding-right: 10px;
     
    }
   
    .big-col{
        
         width: calc(100% / 3 * 2);
         padding-right: 10px;
       
    }
    .big-card{
        display: flex;
        flex-direction: column;
    }
    .big-col-img{
        display: inline;
        margin: 0;
        align-self: flex-start;
        width: 40%;
    }
}

@media screen and (min-width: 992px ) {
    .container{
        width: 70%;
        margin: 0 auto;
    }
    .big-card{
        flex-direction: row;
    }
    .big-col-img{
        display: inline;
        margin: 0;
        align-self: flex-start;
        width: 60%;
    }
     
}



/* PLANS */
.plans{
    padding: 20px;
    background-color: #9792E4;
}
.app{
    border-radius: 10px;
    background-color: white;
    /* debug */
    height: 150px;
}

/* TESTIMONIAL */
.testimonial{
    padding: 20px;
    
}
.testimonial-col{
    padding-bottom: 2rem;
    text-align: center;
    

}
.testimonial-img{
   
}
.testimonial-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.testimonial-card{
    background-color: #9792E4;
    border-radius: 10px;
    padding: 1rem;
}

@media  screen and (min-width: 768px) {
    .testimonial-card{
        display: flex;
    }
}

/* BENEFITS */

.benefits{
    padding: 20px;
    background-color: #9792E4;
}
.benefits-col{
    border-radius: 10px;
    margin-bottom: 2rem;
    /* debug */
    height: 200px;
    background-color: white;
}

/* ABOUT US */

.aboutus{
    padding: 20px;
}

.aboutus-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .aboutus-row{
        display: flex;
    }
    /* .aboutus-col1{
        padding: 1rem;
        width: 70%;
    }
    .aboutus2{
        padding: 1rem;
        width: 30%;
    } */
}
@media screen and (min-width: 992px) {
    .aboutus
}

/* GET STARTED */
 
.getstarted{
    background-color: var(--violet);
    color: white;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .container-small{
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 992px) {
    .container-small{
        width: 50%;
        margin: 0 auto;
    }
}
/* FOOTER */
.footer{
    background-color: var(--footer-color);
    color: white;
    text-align: center;
}
.footer p{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.footer a{
    color: #9792E4;
}