:root{
--primary-color: #0084FD;
--light-blue: #B5DDFF;
--violet: #9792E4;
--footer-color: #333333;
}
/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'PT Sans', sans-serif;
}

/* HEADER */
.header{
    height: 60px;
    line-height: 60px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
}
.header .nav-bar{
    display: none;
}

@media screen and (min-width: 992px) {
    .hamburger{
        display: none;
    }
    .header .nav-bar{
        display: inline-block;
    }
    .header ul{
        display: flex;
        gap: 10px;
        list-style-type: none;
    }
}

/* JUMBOTRON */
.jumbo{
    padding: 20px;
}
.card{
    background-color: var(--light-blue);
    margin-bottom: 20px;
    border-radius: 10px;
    /* debug */
    height: 150px;

}

@media screen and (min-width: 768px){
    .row{
        display: flex;
        /* flex-wrap: wrap; */

    }
    .col{
        flex-grow: 1;
        padding: 5px;
        width: calc(100% / 3);
    }
    .big-col{
        flex-grow: 3;

    }
}



/* PLANS */
.plans{
    padding: 20px;
    background-color: #9792E4;
}
.app{
    border-radius: 10px;
    background-color: white;
    /* debug */
    height: 150px;
}